@filter-border: 1px solid #adadad;

.filterBorder {
	border: @filter-border;
}

.filterContainer {
	button {
		margin-top: 20px;
		color: #666;
	}
	button:hover {
		color: #333;
	}
}

.filterDesc {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left:10px;
	color: #94999e;
}

.filterDesc.light {
	color: #CCC;
}

.filterReset {
  border-top: 1px solid #D5D7DB;
  margin-top: 24px;
}

.filterResetButton {
	width: 100%;
}

.helpButton:before {
	font-family: "Glyphicons Halflings";
	font-size: 18px;
	color: #696;
	content: "\e085";
}

.linkButton {
	padding: 10px 5px 5px 5px;
	cursor: pointer;
	text-align: center;
	border: @filter-border;
	a:hover {
		text-decoration: none;
	}
}

.filterGap {
	height:20px;
}

ul {
	display: inline-block;
	margin-top: 15px;
	padding-left: 10px;

	li {
		float: left;
		list-style: none;
		margin-right: 15px;
	}
}

.menuLineOff {
	padding:0px;

	.navbar-toggle {
		position: relative;
		padding: 4px 5px;
		float: right !important;
		background: #696;
		margin-bottom: 5px;
		margin-right: 0px;
		margin-top: 0px;
		border: none;
		outline: none;
		box-shadow: none;

		.icon-bar:nth-of-type(2) {
			top: 6px;
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.icon-bar:nth-of-type(3) {
			top: 1px;
			background: transparent;
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		.icon-bar {
			position: relative;
			background: #fff;
			display: block;
			width: 12px;
			height: 2px;
			border-radius: 1px;
		}

		.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
	}
}
