<div class="col-xs-12 visible-xs menuLineOff">
	<button type="button" class="navbar-toggle btn btn-primary btn-xs" (click)="closeMenu()">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>

<div class="col-xs-12 container-fluid filterBorder">
	<div class="filterContainer">

		<div class="filterDesc">{{ 'Filter' | lang }}</div>

		<!-- COMMON FILTERS -->
		<ng-container *ngFor="let item of allFilters; trackBy: trackByAllFilters">
			<div class="filterSet">
				<div class="filterTitle">{{ 'title' | lang:item.filter }}</div>
				<select
					class="form-control"
					[(ngModel)]="model.filters[item.filter]"
					(change)="onFilterItemChange($event,item.filter)"
					>
					<option value="">{{ 'All' | lang }}</option>
					<option
						*ngFor="let filterValue of item.valuesByFilter"
						[value]="filterValue"
						>
						{{ 'title' | lang:filterValue }}
					</option>
				</select>
			</div>
		</ng-container>

		<!-- IMPACT FILTER -->
		<ng-container *ngIf="impactValues.length">
			<div class="filterSet">
				<div class="filterTitle">{{ 'Impact' | lang }}</div>
				<select
					class="form-control"
					[(ngModel)]="model.filters['impact']"
					(change)="onFilterItemChange($event,FilterType[FilterType.impact])"
					>
					<option value="">{{ 'All' | lang }}</option>
					<option
						*ngFor="let impact of impactValues"
						[value]="impact.id"
						>
						{{ 'title' | lang:impact.id }}
					</option>
				</select>
			</div>
		</ng-container>

		<!-- EFFORT FILTERS -->
		<ng-container *ngFor="let effort of allEfforts">
			<app-effort
				[(ngModel)]="model.efforts"
				[currentEffort]="effort"
				(selected)="onEffortChange()"
			></app-effort>
		</ng-container>

		<!-- RESET BUTTON -->
		<div class="filterReset">
			<button
				type="button"
				class="btn filterResetButton"
				(click)="resetFilter()"
				>
				{{ 'Reset' | lang }}
			</button>
		</div>
	</div>
</div>

<div class="col-xs-12 filterGap">&nbsp;</div>

<div class="col-xs-12 container-fluid linkButton">
	<!-- HELP BUTTON -->
	<a (click)="showHelp()"><span class="helpButton"></span></a>
</div>
