<div class="hbc-container" *ngFor="let bar of barList; trackBy: trackByKeys">
	<div class="hbc-bar"
		[style.height.px]="barHeight"
		[style.width]="bar.width"
		[style.background-color]="bar.color"
		>
	</div>
</div>
