<div class="actionRow">

	<!-- COLLAPSED CONTENT -->
	<div class="collapsed-content row">

		<!-- ACTION TITLE -->
		<div class="action-title-content col-lg-8 col-md-8 col-sm-8 col-xs-6">
			<h4>
				<span
					class="tableCell glyphicon"
					[ngClass]="isCollapsed ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom'"
					aria-hidden="true"
					(click)="switchCollapse()"
					>
				</span>
				<span class="tableCell">&nbsp;</span>
				<a class="actionTitle tableCell" (click)="switchCollapse()">
					{{ 'title' | lang:currentAction.id }}
				</a>
			</h4>
			<div class="actionSummary" *ngIf="isCollapsed">
				{{ 'summary' | lang:currentAction.id }}
			</div>
		</div>

		<!-- IMPACT BARS -->
		<div
			class="impactCol col-lg-2 col-md-2 col-sm-2 col-xs-3"
			*ngIf="isCollapsed"
			[popover]="popTemplateImpacts"
			triggers="mouseenter:mouseleave"
			placement="auto"
			>
			<app-horizontal-bar
				*ngIf="!isEmptyImpacts"
				[map]="currentAction.impact"
				[store]="impactStore"
				[keysToShow]="impacts"
				[barHeight]="4"
				>
			</app-horizontal-bar>
		</div>

		<!-- EFFORT BARS -->
		<div
			class="effortCol col-lg-2 col-md-2 col-sm-2 col-xs-3"
			*ngIf="isCollapsed"
			[popover]="popTemplateEfforts"
			triggers="mouseenter:mouseleave"
			placement="auto"
			>
			<app-horizontal-bar
				*ngIf="!isEmptyEfforts"
				[map]="currentAction.effort"
				[store]="effortStore"
				[keysToShow]="efforts"
				[barHeight]="4"
			></app-horizontal-bar>
		</div>
	</div>

	<!-- EXPANDED CONTENT -->
	<div *ngIf="!isCollapsed" class="row">

		<!-- DESCRIPTION -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ngx-md [data]="'description' | lang:currentAction.id"></ngx-md>
		</div>

		<!-- TABLE IMPACTS -->
		<div *ngIf="!isEmptyImpacts" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<h5>{{ 'Impact'| lang }}</h5>
			<table class="table table-bordered">
				<tr *ngFor="let impact of impacts; trackBy: trackByImpactFn">
					<td width="180">{{ 'title' | lang:impact }}</td>
					<td>
						<app-horizontal-bar
							[map]="currentAction.impact"
							[store]="impactStore"
							[keysToShow]="[impact]"
							[barHeight]="8"
						></app-horizontal-bar>
						{{ getText(FilterType.impact, impact) }}
					</td>
				</tr>
			</table>
		</div>

		<!-- TABLE EFFORTS -->
		<div *ngIf="!isEmptyEfforts" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<h5>{{ 'Effort' | lang }}</h5>
			<table class="table table-bordered">
				<tr *ngFor="let effort of efforts">
					<td width="180">{{ 'title' | lang:effort }}</td>
					<td>
						<app-horizontal-bar
							[map]="currentAction.effort"
							[store]="effortStore"
							[keysToShow]="[effort]"
							[barHeight]="8"
						></app-horizontal-bar>
						{{ getText(FilterType.effort, effort) }}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<hr/>
</div>

<!-- IMPACT POPOVER TEMPLATE -->
<ng-template #popTemplateImpacts>
	<div class="popoverContainer">
		<ul>
			<li *ngFor="let poi of impacts">
				<div class="itemIcon" [style.background]="this.impactStore.get(poi).color"></div>
				<div class="itemName">{{ 'title' | lang:poi }}</div>
				<span class="itemDesc">{{ getText(FilterType.impact, poi) }}</span>
			</li>
		</ul>
	</div>
</ng-template>

<!-- EFFORT POPOVER TEMPLATE -->
<ng-template #popTemplateEfforts>
	<div class="popoverContainer">
		<ul>
			<li *ngFor="let poi of efforts">
				<div class="itemIcon" [style.background]="this.effortStore.get(poi).color"></div>
				<div class="itemName">{{ 'title' | lang:poi }}</div>
				<span class="itemDesc">{{ getText(FilterType.effort, poi) }}</span>
			</li>
		</ul>
	</div>
</ng-template>
