@import (reference) "../../../styles.less";

.actionRow {

	/**
	 * Collapsed container
	 */
	.collapsed-content {
		position: relative;

		.action-title-content {
			h4 {
				a {
					color: @action-title-color;
				}

			}

			.actionSummary {
			}
		}

		.effortCol {
		}

		.impactCol {
		}
	}

	&:hover {
		background: #efefef;
	}

	h4 {
		display: flex;

		font-size: 14px;
		font-weight: bold;
		margin-top: 0;

		a {
			color: @action-title-color;
		}
	}

	h5 {
		font-size: (@default-font-size * 1.194);
		line-height: (@default-font-size * 1.194 * @line-height-factor);
		font-weight: 700;
	}

	table {
		td {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: top;
		}
	}

	span.glyphicon {
		font-size: 12px;
		top: 0;

		color: @action-title-color;
		cursor: pointer;
	}
}

.popoverContainer {
	margin: -2px -5px -15px;
	font-size: 13px;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding-bottom: 10px;

			.itemIcon {
				width: 12px;
				height: 12px;
				float: left;
				margin-top: 2px;
			}

			.itemName {
				padding-left: 17px;
				font-weight: bold;
			}

			.itemDesc {
			}
		}
	}
}
