<div *ngIf="currentEffort">
	<div class="filterSet custom-slider">
		<div [ngClass]="{ filterTitle: currentEffort?.id }">
			{{ 'title' | lang:currentEffort?.id }}
		</div>
		<ngx-slider
			[(value)]="lowValue"
			[(highValue)]="maxValue"
			[options]="options"
			(userChange)="onUserChange($event)"
		></ngx-slider>
	</div>
</div>
