@import (reference) "../../../styles.less";

main {
	overflow-x: hidden;

	.appContainer {

		// -----------------------------
		// Filter column small screens
		// -----------------------------

		.secondaryColumnSmall {
			background: #94999e;
			opacity: 0.98;
			position: fixed;
			left: 0;
			top: 0;
			right: auto;
			bottom: 0;
			width: 30%;
			min-width: 200px;
			z-index: 101;
			padding: 15px;
			overflow-y: auto;
		}

		// -----------------------------
		// Filter column big screens
		// -----------------------------

		.secondaryColumnBig {
			padding: 0 25px 15px 15px;
		}

		// -----------------------------
		// Small menu
		// -----------------------------

		.menuLine {
			padding: 4px 0;

			.navbar-toggle {
				position: relative;
				padding: 9px 0;
				float: left !important;
				background: #fff;
				margin: 0 10px 10px 10px;
				border: none;
				outline: none;
				box-shadow: none;

				.icon-bar {
					background: #737c88;
					display: block;
					width: 22px;
					height: 2px;
					border-radius: 1px;
				}

				.sr-only {
					position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					margin: -1px;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: 0;
				}
			}
		}

		// -----------------------------
		// Action column
		// -----------------------------

		.mainColumn {

			padding: 15px 0 15px 0;

			.actionHeading {
				h4 {
					font-size: 11px;
					font-weight: 700;
					text-transform: uppercase;
					padding-top: 0;
					margin-top: 0;
					margin-bottom: 20px;
					padding-left: 5px;
				}

				h4:first-child {
					padding-left: 15px;
				}
			}

			.return-to-assessment {
				.returnToAssessmentBullet:before {
					font-family: "Glyphicons Halflings";
					content: "\e163";
				}

				a {
					cursor: pointer;
				}

				position: fixed;
				bottom: 5px;
			}

			cdk-virtual-scroll-viewport {
				height: 93vh;
			}
		}
	}
}






