<main>
	<div class="container noGutter">
		<div class="appContainer">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="col-xs-12 noGutter container-border">

					<!-- FILTER FOR SMALL SCREENS -->
					<div class="visible-xs secondaryColumnSmall" [@slideInOut]="menuState">
						<app-filter
							(helpClicked)="onHelpClicked(true)"
							(toggleMenu)="toggleMenu()">
						</app-filter>
					</div>

					<!-- FILTER FOR BIG SCREENS -->
					<div class="secondaryColumnBig col-lg-2 col-md-2 col-sm-3 hidden-xs">
						<app-filter
							(helpClicked)="onHelpClicked(false)">
						</app-filter>
					</div>

					<!-- MENU FOR SMALL SCREENS -->
					<div class="visible-xs col-xs-12 menuLine">
						<button type="button" class="navbar-toggle btn btn-primary btn-xs" (click)="toggleMenu()">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- MAIN COLUMN -->
					<div class="mainColumn col-lg-10 col-md-10 col-sm-9 col-xs-12">

						<!-- ACTIONS HEADER -->
						<div class="actionHeading row">
							<h4 class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								{{ 'Action' | lang }}
							</h4>
							<h4 class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
								{{ 'Impact' | lang }}
							</h4>
							<h4 class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
								{{ 'Effort' | lang }}
							</h4>
						</div>

						<!-- ACTIONS -->
						<cdk-virtual-scroll-viewport appendOnly [itemSize]="50">
							<div *cdkVirtualFor="let action of dataService.filteredActions$ | async">
								<app-action [currentAction]="action"></app-action>
							</div>
						</cdk-virtual-scroll-viewport>

						<!-- RETURN TO ASSESSMENT -->
						<div
							class="return-to-assessment col-lg-12 col-md-12 col-sm-12 col-xs-12"
							*ngIf="showAssessmentLink"
							>
							<span class="returnToAssessmentBullet">&nbsp;</span>
							<a (click)="focusOpener()">{{ 'Assessment' | lang }}</a>
						</div>
					</div>

					<!-- HELP DIALOG -->
					<div
						bsModal
						#lgModal="bs-modal"
						class="modal fade"
						tabindex="-1"
						role="dialog"
						aria-labelledby="myLargeModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title pull-left">
										{{ 'app-help-title' | lang }}
									</h4>
									<button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
										<span aria-hidden="true">
											&times;
										</span>
									</button>
								</div>
								<div class="modal-body">
									<ngx-md [data]="'app-help' | lang"></ngx-md>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
