@action-title-color: #2a343d;
@default-font-size: 12px;
@line-height-factor: 1.5;
@link-color: #669966;
@link-hover-color: #568976;
@md-h1-size: 1.602em;
@md-h2-size: 1.424em;
@md-h3-size: 1.266em;
@md-h4-size: 1.125em;

/**
 * Global styles
 */

html {
	overflow-y: hidden;
}

body {
	background: #ffffff none repeat scroll 0 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: @default-font-size;
}

html, body {
	height: 100%;
}

p {
	line-height: (@default-font-size * @line-height-factor);
}

/**
 * App styles
 */

app-root {

	/**
	 * Common app styles
	 */

	.mainColumn .actionSummary {
		font-size: 12px;
	}

	.mainColumn .toggleIcon {
		vertical-align: sub;
	}

	.mainColumn .actionTitle, .mainColumn .toggleIcon {
		cursor: pointer;
	}

	.tableCell {
		display: table-cell;
	}

	.container-fluid {
		background: #ffffff;
		border-radius: 4px;
		color: #585858;
		max-width: 100%;
		top: 10px;
		left: 0;
		padding: 15px;
	}

	.filterTitle {
		text-transform: uppercase;
		font-weight: 700;
		padding-top: 10px;
		margin-bottom: 6px;
	}

	.filterSet {
		font-size: 11px;
		border-top: 1px solid #D5D7DB;
		margin-top: 12px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.ui-slider-range {
		background: #e1eae0 !important;
	}

	.ui-slider-handle {
		background: #689867 !important;
	}

	ngx-md {
		h1 {
			font-size: @md-h1-size;
			line-height: (@md-h1-size * @line-height-factor);
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h2 {
			font-size: @md-h2-size;
			line-height: (@md-h2-size * @line-height-factor);
			font-weight: 700;
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h3 {
			font-size: @md-h3-size;
			line-height: (@md-h3-size * @line-height-factor);
			font-weight: 700;
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h4 {
			font-size: @md-h4-size;
			line-height: (@md-h4-size * @line-height-factor);
			font-weight: 700;
			margin-top: 15px;
			margin-bottom: 5px;
		}
	}
}

// -----------------------------
//  NGX_SLIDER styling
// -----------------------------

.custom-slider {
	.ngx-slider {
		margin: 0;
		
		.ngx-slider-bar {
			background: #ccc;
		}
		
		.ngx-slider-selection {
			background: #4caf50;
		}
		
		.ngx-slider-pointer {
			width: 16px;
			height: 16px;
			top: -6px;
			background-color: #4caf50;
			
			&:after {
				top: 4px;
				left: 4px;

				background-color: #fff;
			}

			&.ngx-slider-active {
				&:after {
					background-color: #00ff00;
				}
			}
		}
	}
}
